// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.heading {
  font-family: "Andika";
}

article header {
  p.meta span {
    font-size: 60%;
    position: relative;
    top: -0.8em;
  }
}

.image-link {
  padding-left: 28px;
  background: no-repeat 6px center;
  background-size: auto 60%;

  &.rxr {
    background-image: url(../images/rxr.png);
  }
  &.github {
    background-image: url(../images/github.png);
  }
  &.irclog {
    background-image: url(../images/irclog.png);
  }
}

.clear-both {
  clear: both;
}

.bg-white {
  background: white;
}

#comments_disabled {
  font-style: italic;
}

@import "footnotes";
@import "insets";
